#post{
    border: 2px solid black;
    box-sizing: border-box;
    padding: 5%;
    margin-bottom: 2%;
}

#name{
    color: blue;
    margin-bottom: 2%;
}

#topic{
    color: grey;
    font-style: italic;
}